main {
    padding-top: 80px;
    padding-bottom: 80px;
}

.contribuicao-section {
    padding: 40px 30px;
    max-width: 850px;
    margin: auto;
    background-color: #fff9fd;
    border-left: 8px solid #876fae;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    font-family: 'Inter', sans-serif;
    text-align: justify;
}

.titulo-contribuicao {
    font-size: 2.3rem;
    color: #826fae;
    margin-bottom: 25px;
    text-align: center;
}

.titulo-contribuicao i {
    margin-right: 10px;
}

.contribuicao-section p {
    font-size: 1.1rem;
    color: #333;
    line-height: 1.8;
    margin-bottom: 20px;
}

.contribuicao-section strong {
    color: #4d3e90;
}

.conclusao {
    font-weight: 600;
    text-align: center;
    font-size: 1.1rem;
}

/* Responsividade */
@media (max-width: 768px) {
    .contribuicao-section {
        margin-bottom: 40px;
        width: 90%;
        padding: 25px 20px;
        border-left: 6px solid #876fae;
    }

    .titulo-contribuicao {
        font-size: 1.6rem;
    }

    .contribuicao-section p {
        font-size: 0.95rem;
        line-height: 1.6;
    }

    .conclusao {
        font-size: 1rem;
    }
}