<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Perfil</title>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&family=Lato&family=Roboto:wght@100..900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
  <header>
    <a href="{{ url_for('index') }}">
      <img id="logo" src="{{ url_for('static', filename='logo/alianca-aurora.png') }}" alt="Logo" />
    </a>
    <div class="area-menu">
      <a href="{{ url_for('cadastro') }}" class="header-link">Cadastro</a>
      <a href="{{ url_for('login') }}" class="header-link">Login</a>
      <span class="hamburger-icon" onclick="toggleMenu()">☰</span>
    </div>
  </header>

  <div id="menuHorizontal" class="menu-horizontal">
    <a href="{{ url_for('index') }}" role="button">Home</a>
    <a href="{{ url_for('feed') }}" role="button">Feed</a>
    <a href="{{ url_for('cursos') }}" role="button">Cursos</a>
    <a href="{{ url_for('perfil') }}" role="button">Perfil</a>
    <a href="{{ url_for('vagas') }}" role="button">Vagas</a>
    <a href="{{ url_for('chat') }}" role="button">Atendimento</a>

    <div class="barra-busca">
      <input type="text" placeholder="Buscar" />
      <button class="botao-buscar">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>

  <main>
    <div class="profile-container">
      <div class="profile-header">
        <img src="{{ url_for('static', filename='fotos/perfil6.jpg') }}" alt="Foto de perfil" class="profile-image" />
        <div class="profile-info">
          <h2 class="profile-name">Clarice.dev</h2>
          <p class="profile-bio">Desenvolvedora Back-End • Apaixonada por tecnologia e café ☕</p>
          <div class="profile-stats-actions">
            <div class="profile-stats">
              <div class="stat">
                <span class="number" id="seguidores">300</span>
                <span class="label">Seguidores</span>
              </div>
              <div class="stat">
                <span class="number">180</span>
                <span class="label">Seguindo</span>
              </div>
               <div class="profile-actions">
              <button class="follow-btn">Seguir</button>
              <div class="icons">
                <i class="fas fa-share-alt"></i>
              </div>
            </div>
            </div>
           
          </div>
        </div>
      </div>

      <div class="gallery">
        <img src="{{ url_for('static', filename='ImagensPublicacoes/publicacao1.jpg') }}" alt="foto1" />
        <img src="{{ url_for('static', filename='ImagensPublicacoes/publicacao2.jpg') }}" alt="foto2" />
        <img src="{{ url_for('static', filename='ImagensPublicacoes/publicacao3.jpg') }}" alt="foto3" />
        <img src="{{ url_for('static', filename='ImagensPublicacoes/publicacao4.jpg') }}" alt="foto4" />
        <img src="{{ url_for('static', filename='ImagensPublicacoes/publicacao5.jpg') }}" alt="foto5" />
        <img src="{{ url_for('static', filename='ImagensPublicacoes/publicacao6.jpg') }}" alt="foto6" />
      </div>
    </div>
  </main>

  <footer class="rodape">
    <div class="rodape-container">
      <div class="coluna">
        <div class="coluna-title">Projeto</div>
        <p><a href="{{ url_for('apresentacao') }}"><i class="fas fa-user-circle"></i> Apresentação Pessoal</a></p>
        <p><a href="{{ url_for('contribuicao') }}"><i class="fas fa-hands-helping"></i> Contribuição no Projeto</a></p>
      </div>

      <div class="coluna">
        <div class="coluna-title"> Institucional</div>
        <p><a href="{{ url_for('sobre') }}"><i class="fas fa-info-circle"></i> Sobre Nós</a></p>
        <p><a href="{{ url_for('contato') }}"><i class="fas fa-envelope"></i> Contato</a></p>
      </div>

      <div class="coluna">
        <div class="coluna-title"> Legal</div>
        <p><a href="{{ url_for('politica') }}"><i class="fas fa-user-secret"></i> Política de Privacidade</a></p>
        <p><a href="{{ url_for('termos') }}"><i class="fas fa-file-contract"></i> Termos de Uso</a></p>
      </div>

      <div class="coluna">
        <div class="coluna-title">Parceiros</div>
        <p><a href="https://www.sp.senac.br/senac-osasco" target="_blank"><i class="fas fa-school"></i> Senac</a></p>
      </div>
    </div>
  </footer>

  <script>
    // Toggle menu no clique do hamburger
    function toggleMenu() {
      var menu = document.getElementById("menuHorizontal");
      menu.style.display = menu.style.display === "flex" ? "none" : "flex";
    }
  </script>
</body>

</html>
